/* Tablet */
@media (min-width: 600px) {
    body{
        background-image: url("../img/Lumia\ old\ Microsoft\ Windows.jpg");
        background-size: cover;
        background-position: center bottom;
    }
    header h1 {
        font-size: 2.5rem;
    }
    .saludo {
        max-width: 500px;
        padding: 2.5rem 2rem;
    }
    .saludo p {
        font-size: 1.25rem;
    }
    footer{
        font-size: 10px;
    }
}

/* Monitor/Escritorio */
@media (min-width: 900px) {
    body {
        background-image: url("../img/download.jpg");
        background-size:cover;
        background-position: center;
    }
    .saludo {
        max-width: 600px;
        padding: 3rem 2.5rem;
    }
    header h1 {
        font-size: 3rem;
    }
    footer {
         font-size: 14px;
    }
}

