body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Arial, sans-serif;
    background-image: url("../img/Lumia\ old\ Microsoft\ Windows.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}

header {
    text-align: center;
    padding: 19px 0 8px 0;
    background: #fee;
}

header h1 {
    margin: 0;
    font-size:25px;
    letter-spacing: 2px;
}

header > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.header-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

#git-access {
    color: #333;
    font-size: 20px;
    cursor: pointer;
    transition: color 0.2s;
    background-color: #fee;
    height: 30px;
    width: 50px;
    border-radius: 5px;
    border-right: 2px solid #7b7b7b;
    border-bottom: 2px solid #7b7b7b;
    border-top: 2px solid #cbcbcb;
    border-left: 2px solid #cbcbcb;
}

#git-access:hover {
    color: #fff;
    background-color: #333;
    transform: translateY(-5px);
    transition: background 0.2s;
}

.mode-byw{
    background-color:rgb(171, 227, 255);
    cursor: pointer;
    font-size: 20px;
    height: 30px;
    width: 50px;
    border-radius: 5px;
    border-right: 2px solid #7b7b7b !important;
    border-bottom: 2px solid #7b7b7b !important;
    border-top: 2px solid #cbcbcb !important;
    border-left: 2px solid #cbcbcb !important;
    transition: background 0.2s;
}

.mode-byw:hover {
    position: relative;
    bottom: 5px;
}

main {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.saludo {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 400px;
    min-width: 350px;
    background: #b0b0b0;
    border-radius: 14px;
    padding: 32px 19px;
    box-shadow: 0 4px 16px rgba(0,0,0,0.08);
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 24px;
    color: #222;
    border-right: 2px solid #7b7b7b;
    border-bottom: 2px solid #7b7b7b;
    border-top: 2px solid #cbcbcb;
    border-left: 2px solid #cbcbcb;
}


.btn-juego {
    min-width: 200px;
    font-weight: 700;
    font-size: 18px;
    padding: 11px 24px;
    border-radius: 12px;
    border: none;
    background: #c7c7c7;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    cursor: pointer;
    border-right: 2px solid #7b7b7b;
    border-bottom: 2px solid #7b7b7b;
    border-top: 2px solid #cbcbcb;
    border-left: 2px solid #cbcbcb;
}

.btn-juego:hover {
    background: #cccccc;
    transition: background 0.2s;
    transform: translateY(-2px);
}

.niveles-container {
    min-width: 350px;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
    background-color:#b0b0b0;
    border-radius: 14px;
    padding: 25px 15px;
    box-shadow: 0 4px 16px rgba(0,0,0,0.08);
    text-align: center;
    max-width:1100px;
    border-right: 2px solid #7b7b7b;
    border-bottom: 2px solid #7b7b7b;
    border-top: 2px solid #cbcbcb;
    border-left: 2px solid #cbcbcb;
}
.niveles{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    margin-bottom: 10px;
}

.exit-game {
    font-size:14px;
    padding: 10px 20px;
    border-radius: 12px;
    border: none;
    background: rgba(204, 142, 142, 0.6) !important;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    cursor: pointer;
    transition: background 0.2s;
}

.exit-game:hover {
    background: rgba(107, 61, 61, 0.8) !important;
}


.puntajes-container{
    min-width: 400px;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
    background-color:#b0b0b0;
    border-radius: 14px;
    padding: 25px 15px;
    box-shadow: 0 4px 16px rgba(0,0,0,0.08);
    text-align: center;
    max-width: 1000px;
}
.puntajes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    margin-bottom: 10px;
}

.instructions-container {
    min-width: 350px;
    width: 70%;
    font-weight: 700;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
    background-color: #c0c0c0;
    border-radius: 14px;
    padding: 25px 15px;
    box-shadow: 0 4px 16px rgba(0,0,0,0.08);
    text-align: center;
    font-size: 16px;
    color: #333;
    max-width: 700px;
}
.instructions-container>p{

    margin: 10px 25px;
    width: auto;
}

.contacto-container {
    min-width: 350px;
    width: 70%;
    font-weight: 700;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
    background-color: #c0c0c0;
    border-radius: 14px;
    padding: 25px 15px;
    box-shadow: 0 4px 16px rgba(0,0,0,0.08);
    text-align: center;
    font-size: 16px;
    color: #333;
    max-width: 700px;
}

.contacto-container form{
    width: 300px;
    margin-bottom: 20px;
}

.contacto-container .form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.contacto-container .form-group input,
.contacto-container .form-group textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}


#exit-cross {
    position: relative;
    bottom: 20px;
    left: 122px;
    display: flex;
    color: #fff;
    cursor: pointer;
    transition: color 0.2s;
    width: 25px;
    height: 25px;
    background-color: #ff0000;
    justify-content: center;
    border-left: 3px solid #efefef;
    border-bottom: 3px solid #5b5b5b;
}

#exit-cross:hover {
    color: #fff;
    background-color: #b30000;
    transition: background 0.2s;
}

.head-tablero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #bdbdbd;
    border: 2px solid #5b5b5b;
    padding-top: 10px;
    gap: 10px;
}

.display {
    background: #222;
    color: #ff2222;
    font-family: 'Digital-7', monospace, 'Courier New', Courier, monospace;
    font-size: 32px;
    padding: 2px 12px;
    border: 2px inset #5b5b5b;
    min-width: 60px;
    text-align: right;
    letter-spacing: 2px;
}

#tablero {
    display: flex;
    width: min-content;
    margin-top: 16px;
    background: #c7c7c7;
    flex-direction: column;
    border-top: 3px #5b5b5b solid;
    border-left: 3px #5b5b5b solid;
    border-right: 3px #efefef solid;
    border-bottom: 3px #efefef solid;
}

.tablero-container {
    display: none;
    background: #c7c7c7;
    align-items: center;
    border-right: 3px solid #5b5b5b;
    border-bottom: 3px solid #5b5b5b;
    border-left: 3px solid #fcfcfc;
    border-top: 3px solid #fcfcfc;
    border-radius: 0;
    box-shadow: none;
    padding: 20px 20px 15px 20px;
    margin-top: 30px;
    
}

#reiniciar-juego {
    font-size:24px;
    padding: auto;
    margin: 0 auto;
    border-radius: 50%;
    border: none;
    background: #c1c1c1;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    cursor: pointer;
    transition: background 0.2s;
}

button[id='reiniciar-juego']:hover {
    background: #e0ffe0;
    transform: translateY(-2px);
}

.fila {
    display: flex;
}
.celda {
    padding: 0%;
    width: 30px;
    height: 30px;
    background-color: #c0c0c0;
    border: 2px solid #fff;
    border-bottom: 2px solid #5b5b5b;
    border-right: 2px solid #5b5b5b;
    border-left: 2px solid #efefef;
    border-top: 2px solid #efefef;
    font-size: 20px;
    font-family: 'Segoe UI', Arial, sans-serif;
    font-weight: bold;
    box-shadow: inset 1px 1px 0 #fff, inset -1px -1px 0 #7b7b7b;
    cursor: pointer;
    transition: none;
}

.celda:active, .celda.descubierta {
    background: #adadad;
    border-bottom: 3px solid #3b3b3b;
    border-right: 3px solid #3b3b3b;
    border-left: 3px solid #efefef;
    border-top: 3px solid #efefef;
    box-shadow: none;
    transition: background 0.4s, border 0.2s, box-shadow 0.2s;
}

.celda.descubierta[data-num="1"] {
     color: #1976d2; 
}

.celda.descubierta[data-num="2"] {
    color: #388e3c;
}

.celda.descubierta[data-num="3"] {
    color: #d32f2f;
}

.celda.descubierta[data-num="4"] {
    color: #7b1fa2;
}

.celda.bomba {
    background: #ffb3b3;
    color: #b30000;
}

.modal-alert{
    position:absolute;
    width: 400px;
    background: #b0b0b0;
    border-radius: 14px;
    color: #333;
    padding:10px 5px;
    box-shadow: 0 4px 16px rgba(0,0,0,0.08);
    z-index: 1000;
    display: none;
    transition: all 0.3s ease-in-out;
    border-right: 2px solid #7b7b7b;
    border-bottom: 2px solid #7b7b7b;
    border-top: 2px solid #cbcbcb;
    border-left: 2px solid #cbcbcb;
}
.modal-content {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.btns-modal {
  
    display: flex;
    gap: 15px;
}

.btn-modal{
    min-width: 100px !important;
    padding: 5px auto;
}

.modal-visible {
    display: flex;
}

.visualize-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    transition: all 0.3s ease-in-out;
}


.dark-mode {
    background-color: #555;
    color: #fff !important;
    border-top: 3px #efefef solid;
    border-left: 3px #efefef solid;
    border-right: 3px #3f3f3f solid;
    border-bottom: 3px #3f3f3f solid;
    transition: background-color 0.6s ease-in-out, color 0.6s ease-in-out;
}   

.dark-mode-button {
    background-color: #666;
    color: #fff;
    border: 1px solid #444;
    transition: background-color 0.8s ease-in-out, color 0.8s ease-in-out;

}
.dark-mode-celda{
    background-color: #777;
    transition: background-color 0.3s ease-in-out, color 0.8s ease-in-out;
}



footer {
    text-align: center;
    padding: 5px 0;
    background: #fee;
    font-size:10px;
}
