body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Arial, sans-serif;
    background-image: url("../img/download\(4\).jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}

header {
    text-align: center;
    padding: 19px 0 8px 0;
    background: rgba(255,255,255,0.65);
    border-bottom: 1px solid #b2d8b2;
}
header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

header h1 {
    margin: 0;
    font-size:25px;
    letter-spacing: 2px;
}

main {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.saludo {
    width: 100%;
    max-width: 400px;
    min-width: 350px;
    background: rgba(255,255,255,0.92);
    border-radius: 14px;
    padding: 32px 19px;
    box-shadow: 0 4px 16px rgba(0,0,0,0.08);
    text-align: center;
    max-width: 95vw;
}

.saludo p {
    font-size: 18px;
    margin-bottom: 24px;
    color: #222;
}

.btn-saludo {
    font-size: 18px;
    padding: 11px 24px;
    border-radius: 12px;
    border: none;
    background: #fff;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    cursor: pointer;
    transition: background 0.2s;
}

.btn-saludo:hover {
    background: #e0ffe0;
}

.niveles-container {
    min-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
    background: rgba(255,255,255,0.92);
    border-radius: 14px;
    padding: 25px 15px;
    box-shadow: 0 4px 16px rgba(0,0,0,0.08);
    text-align: center;
    max-width: 95vw;
}

.niveles-container  button {
    font-size:14px;
    padding: 10px 20px;
    border-radius: 12px;
    border: none;
    background: #fff;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    cursor: pointer;
    transition: background 0.2s;
}

#exit-game {
    font-size:14px;
    padding: 10px 20px;
    border-radius: 12px;
    border: none;
    background: rgba(233, 165, 165,0.6);
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    cursor: pointer;
    transition: background 0.2s;
}

.niveles{
    display: flex;
    gap: 15px;
}

#tablero {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16px;
}

.tablero-container{
    background-color: rgba(255, 255, 255, 0.65);
    box-shadow: 0 4px 16px rgba(0,0,0,0.08);
    padding: 20px 30px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:20px
}

button[id='reiniciar-juego']{
    font-size:14px;
    padding: 10px 20px;
    margin: 0 30px;
    border-radius: 12px;
    border: none;
    background: #fff;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    cursor: pointer;
    transition: background 0.2s;
}

button[id='reiniciar-juego']:hover {
    background: #e0ffe0;
    transform: translateY(-2px);
}

.fila {
    display: flex;
}

.celda {
    width: 40px;
    height: 40px;
    margin:3px;
    background: #58ac8b;
    border: 1px solid #0d500d;
    border-radius: 4px;
    font-size: 15px;
    cursor: pointer;
    transition: background 0.2s;
}
.celda:active {
    background: #236d23;
}

.celda.descubierta {
    background: #eae09b;
    color: #222;
    font-weight: bold;
    border: 1.5px solid #836031;
}

.celda.descubierta[data-num="1"] {
     color: #1976d2; 
}

.celda.descubierta[data-num="2"] {
    color: #388e3c;
}

.celda.descubierta[data-num="3"] {
    color: #d32f2f;
}

.celda.descubierta[data-num="4"] {
    color: #7b1fa2;
}

.celda.bomba {
    background: #ffb3b3;
    color: #b30000;
}

.hidden-block{
    display: none;
}

.visualize-block {
    display: flex;
    flex-direction: column;
    gap: 5px;
    transition: all 0.3s ease-in-out;
}

footer {
    text-align: center;
    padding: 5px 0;
    background: rgba(255,255,255,0.65);
    font-size:7px;
    border-top: 1px solid #b2d8b2;
}
